body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
font-family: Arial, sans-serif;
background-color: #f4f4f9;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(198, 198, 198);
}

input {
    padding: 5px;
    border: 1px solid round #ccc;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
     -webkit-appearance: none;
    margin: 0;
    padding: 5px;
    border: 1px solid round #ccc;
}

button[type="submit"] {
    display: none;
}

#total-section {
    display: none;
}